/*Navbar*/
*{
  font-family: Century Gothic;
}
header{
  display: block;
  width: 100%;
}

nav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.08));
}
.logo{
  width: 15em;
  position: absolute;
  display: block;
  padding: 0em 2em;
}

header nav{
  text-align: right;
  display: inline-block;
  width: 100%;
  height: 7em;
  z-index: 1;
  position: absolute;
}
header ul{
  display: inline-block;
  list-style-type: none;  
  text-align: center;
  padding: 2em;
}

header ul li{
  display: inline-block;
}

header ul li a{
  text-decoration: none;
  padding: .4em .4em;
  color: white;
  font-family: Century Gothic;
  font-size: 1.5em;
}
/*Fin de navbar*/

/*Carrusel*/
.slideshow-container {
  width: 100%;
  position: relative;
  margin: none;
  opacity: 100%;
}

.active {
  background-color: #717171;
}

/*Animación de desvanecimiento*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/*Relación de desvanecimiento*/
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#carrusel{
  width: 100%;
  height: 30em;
}

#presentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  top: 50%;
  font-size: 10em;
  opacity: 1;
}
/*Fin de carrusel*/

/*Inicio del estilo del Registro */
.container{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .login-container{
    display: flex;
    width: 850px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  }
   
  .register, .login{
    flex: 1;
  }
   
  .register{
    padding: 40px;
    position: relative;
  }
   
  .register h2{
    color: #797979;
    margin-bottom: 30px;
  }
   
  .register input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
   
  .register input:active, 
  .register input:focus{
    outline: none;
  }
   
  .register .submit{
    width: auto;
    padding: 10px;
    background: #4f433a;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
  }
   
  .register::after{
    content: '>';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: -23px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
    color: #7c7c7c;
  }
   
  .login{
    background-image: linear-gradient(to bottom right, #1f3434, #2b4c36);
    padding: 40px;
  }
   
  .login h2{
    color: #fff;
    margin-bottom: 45px;
  }
   
  .login button i{
    position: absolute;
    top: 12px; 
    left: 12px;
  }
   
  .login button{
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(188, 17, 17, 0.2);
    cursor: pointer;
    position: relative;
  }
   
  .login .fb{   
    border-style: none;
    color: black;
  }
   
  .login .tw{
    border-style: none;
    color: black;
  }
   
  .login .correo{
    border-style: none;
    color: black;
  }

      
  @media only screen and (max-width: 540px){
    .login-container{
      display: block;
    }

    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }

/*Final del estilo del registro */

/*Cuerpo de pagina*/
.cuerpo{
  padding-top: 7em;
  display: flex;
}

.description{
  width: 65em;
  padding-right: 1em;
}

.archives{
}

/*Fin de cuerpo de página*/


